/*
* === Landing Page Content ===
*/

.sep {
  box-sizing: content-box;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(91.05deg, #ca78e3 8.23%, #6febfe 95.66%);
  border-image-slice: 1;
}

.landing-card:last-child {
  margin-bottom: 0;
}

