/*
* === Welcome Prompt ===
*/

.welcome-prompt-container{
    background-color: rgba(0, 0, 0, 0.75);
  }

.welcome-prompt{
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color)
}