:root {
  --main-bg-color: #121212;
  --main-text-color: #f1f2f9;
  --secondary-bg-color: #1f1f1f;
  --pink-accent-color: #ca78e3;
  --blue-accent-color: #70ecff;
}

* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.active {
  color: var(--blue-accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
.terminal {
  font-family: "Rubik", sans-serif;
}

p,
footer {
  font-family: "Inter", sans-serif;
}

nav,
.footer-bar {
  background-color: var(--secondary-bg-color);
}

nav {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

nav a {
  text-decoration: none;
  color: var(--main-text-color);
}

footer {
  filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.5));
}

.footer-bar {
  text-align: center;
  color: #e0e0e0;
}

.waves {
  background-position: center;
  background-repeat: none;
  width: 100vw;
  height: 100px;
}

.waves-small {
  aspect-ratio: 768/100;
  background-image: url("./assets/layered-waves-768.svg");
}

.waves-reg {
  aspect-ratio: 1920/100;
  background-image: url("./assets/layered-waves-1920.svg");
}

.waves-large {
  aspect-ratio: 5120/100;
  background-image: url("./assets/layered-waves-5120.svg");
}

.terminal-container {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
}

.term-handle {
  background-color: #303644;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.terminal {
  background-color: #1c1e26;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  font-size: 6vw;
}

.path {
  color: var(--blue-accent-color);
}

.prompt {
  color: var(--pink-accent-color);
  font-size: 4vw;
}

@media screen and (max-width: 358px) {
  .term-text {
    width: 123px;
    margin-right: 1rem;
  }
}

#term-min,
#term-max,
#term-close {
  height: 1rem;
  width: 1rem;
}

#term-close {
  background-color: #bf616a;
  border-radius: 50%;
}


.sep{
  box-sizing: content-box;
  width: 10vw;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(91.05deg, #CA78E3 8.23%, #6FEBFE 95.66%);
  border-image-slice: 1;
}

.button{
  width: fit-content;
  border-radius: 6px;
}