:root {
  --main-bg-color: #121212;
  --main-text-color: #f1f2f9;
  --secondary-bg-color: #1f1f1f;
  --pink-accent-color: #ca78e3;
  --blue-accent-color: #70ecff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.active{
  color: var(--blue-accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "Rubik", sans-serif;
}

p,
footer {
  font-family: "Inter", sans-serif;
}

nav,
.footer-bar {
  background-color: var(--secondary-bg-color);
}

nav {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

nav a {
  text-decoration: none;
  color: var(--main-text-color);
}

footer{
  position: absolute;
  bottom: 0;
  filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.5));
}

.footer-bar {
  text-align: center;
  color: #e0e0e0;
}

.waves{
  background-position: center;
  background-repeat: none;
  width:100vw;
  height: 100px;
}

.waves-small{
  aspect-ratio: 768/100;
  background-image: url("./assets/layered-waves-768.svg");
}

.waves-reg{
  aspect-ratio: 1920/100;
  background-image: url("./assets/layered-waves-1920.svg");
}

.waves-large{
  aspect-ratio: 5120/100;
  background-image: url("./assets/layered-waves-5120.svg");
}

.term-buttons{
  background-color: #303644;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.terminal{
  background-color: #1C1E26;
  border-radius: 11px;
  height: 10px;
  width: 100%;
}

#term-close{
  background-color: #BF616A;
  border-radius: 50%;
}