/*
* === General ===
*/

:root {
  --main-bg-color: #121212;
  --main-text-color: #f1f2f9;
  --secondary-bg-color: #1f1f1f;
  --pink-accent-color: #ca78e3;
  --blue-accent-color: #70ecff;
}

* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*
* === Background Colors ===
*/

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

nav,
.footer-bar {
  background-color: var(--secondary-bg-color);
}

/*
* === Fonts ===
*/

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "Rubik", sans-serif;
}

p,
footer,
.button-text {
  font-family: "Inter", sans-serif;
}

/*
* === Nav Bar ===
*/

nav {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

nav a {
  text-decoration: none;
  color: var(--main-text-color);
}

.active {
  /* For actively selected page */
  color: var(--blue-accent-color);
}

/*
* === Footer ===
*/

footer {
  bottom: 0;
  filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.5));
}

.footer-bar {
  text-align: center;
  color: #e0e0e0;
}

/*
* — Waves —
*/

.waves {
  background-position: center;
  background-repeat: none;
  width: 100vw;
  
}

.waves-small {
  aspect-ratio: 768/100;
  background-image: url("./assets/layered-waves-768.svg");
  height: 100px;
}

.waves-reg {
  aspect-ratio: 1920/100;
  background-image: url("./assets/layered-waves-1920.svg");
  height: 75px;
}

.waves-large {
  aspect-ratio: 5120/100;
  background-image: url("./assets/layered-waves-5120.svg");
  height: 50px;
}

/*
* === Landing Page Terminal ===
*/

/*
* - Terminal Handlebar and Buttons -
*/

.term-handle {
  background-color: #303644;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

#term-min,
#term-max,
#term-close {
  height: 1rem;
  width: 1rem;
}

#term-close {
  background-color: #bf616a;
  border-radius: 50%;
}

/*
* - Terminal Text Area -
*/

.terminal {
  background-color: #1c1e26;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.prompt, .term-text {
  font-family: "Fira Code", monospace;
  position: relative;
}

.prompt{
  color: #29D398
}

.path {
  color: var(--blue-accent-color);
}

.reg-prompt {
  color: var(--pink-accent-color);
}


/*
* — Typing Caret animation —
*/

@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@media screen and (min-width: 200px){
  .term-text::after {
    content: "";
    position: absolute;
    bottom: 0.25em;
    margin-left: 0.15em;
    margin-right: 0.15em;
    height: 1em;
    width: 0.15em;
    background: white;
    animation: blink 1.15s steps(5, start) infinite;
    -webkit-animation: blink 1.15s steps(5, start) infinite;
  }
}

/*
* === Landing Page Content ===
*/

.sep {
  box-sizing: content-box;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(91.05deg, #ca78e3 8.23%, #6febfe 95.66%);
  border-image-slice: 1;
}

.button {
  width: fit-content;
  border-radius: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
  color: black;
}

.landing-card:last-child{
  margin-bottom: 0;
}

